@model List<WebsiteBanHang.Context.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">

                    <div class="card card-category">
                        <div class="img-wrap" style="">
                            <img src="~/Content/images/items/@item.Avatar">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="#">@item.Name</a></h4>
                           
                        </div>
                    </div>
                </div> <!-- col.// -->
            }


        </nav> <!-- row.// -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
